<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Copper App</title>

    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="background-1">
      {{ template "navbar" }}
      {{ template "first_display" }}
    </div>

    <section>
      {{ template "about_coffee"}}
    </section>

    <section>
      {{ template "enjoy_coffee"}}
    </section>

    <footer>
      {{ template "footer" }}
    </footer>
  </body>
</html>
