{{ define "navbar" }}
<div class="wrap_header">
    <header>
        <a class="logo" href="/"><p>Rasul”s Coffee</p></a>
        <div class="links">
            <a href="#">Home</a>
            <a href="#">Menu</a>
            <a href="#">About Us</a>
            <a href="#">Contact Us</a>
        </div>
    </header>
</div>
{{ end }}


{{ define "main_content" }}
<main>
    <h1>Rasul suck</h1>
    <h1>Rasul suck</h1>
    <h1>Rasul suck</h1>
</main>
{{ end }}


{{define "second_display"}}
{{ end }}


{{ define "footer" }}
{{ end }}